;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon May 13 10:09:12 2013
;; Desktop file format version 206
;; Emacs version 24.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("an te"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/Dissertation/dissertation-sidorenko/publications/darmstadt_gscl_2013/" "~/Dissertation/dissertation-sidorenko/publications/darmstadt_gscl_2013/article_twitter_normalization.tex"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/sidorenko/Dissertation/dissertation-sidorenko/publications/darmstadt_gscl_2013/article_twitter_normalization.tex"
  "article_twitter_normalization.tex"
  'latex-mode
  '(hi-lock-mode)
  3785
  '(3787 nil)
  nil
  nil
  '((indent-tabs-mode) (buffer-file-coding-system . iso-latin-1-unix)))

